* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*하단테두리*/
}

/* @media (max-width :600px){
	.pic{
		background-color: #f0dfdf;
	}
} */

@media (max-width: 767px) {
  div.pic {
    background-color: rgb(244, 232, 166);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  div.pic {
    background-color: lightblue;
  }
}
@media (min-width: 1025px) {
  div.pic {
    background-color: lightpink;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cafe24Ohsquareair";
  min-width: 320px;
}

header {
  border: 10px solid rgba(209, 207, 207, 0.693);
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

main {
  /* section요소의 부모요소인 main을 height100%으로 만들어야
	section이 화면 꽉 차게 됨 */
  height: 100%;
  /* display: flex; */
}

.sidebar {
  /* width: 15%; */
  /* display: inline; */
  flex-flow: row wrap;
  margin: 0px 10px 0px 10px;
  border: 10px solid rgba(209, 207, 207, 0.693);
  padding: 10px 10px 10px 10px;
}

section {
  display: flex;
  flex-flow: row wrap;
  flex: 2;
  border: 10px solid rgba(209, 207, 207, 0.693);

  overflow-y: scroll;
  margin: 10px 10px 10px 10px;
  padding: 10px;

  position: relative;

  width: 100%;
  height: 100%;
}

.pic img {
  object-fit: cover; /* 사진 크기에 꽉 채워기*/
  width: 100%;
  height: 90%;
  /* 이렇게 img의 height를 직접 조절하지 않고 span을 포함한 높이를 포함해서 
  div에 자동으로 딱 맞춰주는 방법은 없을까? */
}

.pic {
  display: flex;
  flex-flow: column nowrap;
  width: 280px;
  height: 280px;
  background-color: #333;

  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
